* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('./../../images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

section {
    padding: 150px 20px;
    margin-bottom: 200px;
  }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .1);
    transition: opacity 0.3s;
  }
  
  nav li {
    float: left;
  }

  nav li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: rgba(0, 0, 0, .1);
  }
 
  nav.hidden {
    opacity: 0;
    pointer-events: none;
  }

  main {
    padding: 200px;
  }
  
  h1{
    text-align: center;
    color: whitesmoke;
  }